<h2 >Green Rosa Email Success</h2>


  <table class=ListComments>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%" colspan=2 class="RosaTitle" >Email Results</td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%" rowspan=2 colspan=2 class="RosaTitleSmall" ><%= params[:success_msg] %></td>
      <td style="width:30%"></td>
    </tr>


    <tr>
      <td style="width:5%"></td>
      <td style="width:60%"></td>
      <td style="width:30%"></td>
    </tr>


    
    <tr>
      <td style="width:5%"></td>
      <td style="width:30%"></td>
    </tr>

    
    <tr>
      <td style="width:5%"></td>
      <td style="width:60%" ><%= link_to "Return to Green Rosa",  { :url => root_url, :class => 'button_style' } %></td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%"></td>
      <td style="width:30%"></td>
    </tr>

  </table>


