  <table class=ListCommemts>

    <tr>

      <td style="width:5%"></td>
      <td style="width:60%" class="RosaTitle">The Green Rosa site encountered the following error:</td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%" rowspan=2 class="RosaTitleSmall"><%= params[:error_msg] %></td>
      <td style="width:30%"></td>
    </tr>


    <tr>
      <td style="width:5%"></td>
      <td style="width:30%"></td>
    </tr>


    <tr>
      <td style="width:5%"></td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%"></td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%" ><%= link_to "Return to Rosa Green", root_url , :class=>"button_style" %></td>
      <td style="width:30%"></td>
    </tr>

    <tr>
      <td style="width:5%"></td>
      <td style="width:60%"></td>
      <td style="width:30%"></td>
    </tr>

  </table>


