<%= form_for :user, {:action => 'forgot'} do |f| %>
  <p class="RosaTitle">
    Forgot username
  </p>
  

  <p class="RosaTitleSmall">
    <label for="email">Email</label><br />
    <%= f.text_field :email %>
  </p>


  <p class="RosaTitleSmall">
    
    <%= submit_tag 'Submit',{ :class=>"button_style" } %>
    <%= link_to "Changed my Mind", root_url,{:class=>"button_style" } %>
  </p>
<% end %>