  <tr class="add_new_record" id="add_new_record" >
    <td style="width:15%" align="left" ><%=  "#{counter}."  %> </td>
    <td style="width:85%" align="left" ><%=   this_form.record_text %> </td>
  </tr>

