<br/>
<div  class="my_footer_title">
  <p>
    Green Rosa&nbsp;&#169;copyright 2013:All rights reserved.&nbsp;&nbsp;Last updated: July 21, 2013.<br/>
    &nbsp;Copyright protecting Green Rosa with original content to offer generic Ruby on Rails applications
    which may be further designed, developed, and/or enhanced collaboratively.<br/>
    <%= mail_to("greenrosa@greenrosa.com", "Contact Us") %></
 
  
</div>